:root {
    --color-green: rgb(4,139,24);
    --color-dark-green: rgb(0,122,44);
    --color-light-green: rgb(130,198,59);
    --color-blue: rgb(0,118,177);
}

.btn-primary {
    background-color: var(--color-green) !important;
    border-color: var(--color-dark-green) !important;
}

.btn-primary:hover  {
    background-color: var(--color-light-green) !important;
    border-color: var(--color-green) !important;
}

.btn-link {
    color: var(--color-green) !important;
}

.btn-link:hover {
    color: var(--color-light-green) !important;
}

div{
    color: black;
}

.white-text{
    color: whitesmoke;
}

.instructions{
    font-style: italic;
}

.align-left{
    text-align: left;
}

html, body{
    background: var(--color-blue) !important;
}

td {
    vertical-align: middle;
  }