img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bg {
  background-image: url("../../images/simple-background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }